<div class="blue-background p-4">
  <h2 class="text-light">Países</h2>
  <hr class="text-light">

  <ul class="list-group">

    <li routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item">
      Home Page
    </li>

    <li routerLink="about"
    routerLinkActive="active"
      class="list-group-item">
      About Page
    </li>

    <li routerLink="contact"
    routerLinkActive="active"
      class="list-group-item">
      Contact Page
    </li>

  </ul>
</div>
