.spinner-container {
  align-items: center;
  background: linear-gradient(to left, #270133, #010144, #014763, #004130);
  border-radius: 15px;
  bottom: 15px;
  color: white;
  display: flex;
  padding: 5px 10px;
  position: fixed;
  right: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

span {
  margin-left: 5px;
}
